:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    /*(paragraphs)*/
    --Very-light-gray: hsl(0, 0%, 95%);
    /*(background, headings, buttons)*/
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--Very-light-gray);
}

button {
    width: 70%;
    font-weight: 400;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
}


p {
    color: var(--Transparent-white);
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--Very-light-gray);
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
}

main {
    padding: 4rem 0rem;
    display: flex;
    width: 100vw;
    flex-flow: column nowrap;
    height: auto;
    align-items: center;
    justify-content: center;
}

section {
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size: 1rem;
    min-height: 20rem;
    padding: 15%;
}


section:nth-child(1) {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: var(--Bright-orange);
}

section:nth-child(1) button {
    color: var(--Bright-orange);
}

section:nth-child(2) {
    background-color: var(--Dark-cyan);
}

section:nth-child(2) button {
    color: var(--Dark-cyan);
}

section:nth-child(3) {
    background-color: var(--Very-dark-cyan);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

section:nth-child(3) button {
    color: var(--Very-dark-cyan);
}


section button:hover {
    color: var(--Very-light-gray);
    background-color: transparent;
    border: 0.2em solid var(--Very-light-gray)
}

@media (min-width: 600px) {
    main {
        width: 65%;
        height: 100vh;
        padding: 0px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

    }

    section {
        align-self: center;
        padding: 3rem;
        width: 100%;
        margin: 0px;
        justify-content: flex-start;
        min-height: 32rem;
    }

    section button {
        margin-top: auto;
        justify-self: flex-end;
    }

    section:nth-child(1) {
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        border-top-right-radius: 0em;
    }

    section:nth-child(3) {
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }
}